body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: Verdana, sans-serif;
}

h1 {
  margin-top: 30px;
}

h3 {
  margin: 20px;
}

p {
  color: white;
  background-color: dimgray;
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
}

img {
  margin: 40px;
  height: 40px;
  width: 150px;
}
.link {
  color: red;
}

.container {
  text-align: center;
  padding: 300px;
  margin: auto;
  max-width: 800px;
}
